@page
@model BatchAndReport.Pages.Report.ExportModel
@*  <link rel="stylesheet" href="~/css/contract.css" /> *@
<h2>Export Report</h2>

<style>
    /* Basic styling for the body */
    body {
        font-size: 16px; /* ขนาดพื้นฐานที่ดีสำหรับการอ่าน */
    }

    .t-16 {
        font-size: 1.3em;
    }

    .t-18 {
        font-size: 1.5em;
    }

    .t-22 {
        font-size: 1.8em;
    }

    .tab1 {
        text-indent: 48px; /* Indent for the second line */
    }

    .tab2 {
        text-indent: 96px; /* Indent for the second line */
    }

    .tab3 {
        text-indent: 144px; /* Indent for the second line */
    }

    .d-flex {
        display: flex;
    }

    .w-100 {
        width: 100%;
    }

    .w-40 {
        width: 40%;
    }

    .w-50 {
        width: 50%;
    }

    .w-60 {
        width: 60%;
    }

    .text-center {
        text-align: center;
    }

    .sign-single-right {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 30%; /*ไปปรับตำแหน่งตามต้องการ*/
    }

    .sign-double {
        display: flex;
    }

    .text-center-right-brake {
        margin-left: 50%;
        word-break: break-all;
    }

    .text-right {
        text-align: right;
    }
</style>

<div class="t-16" style="text-indent: 96px;"><b>ข้อ  1  ขอบเขตหน้าที่ของ “สสว.”</b></div>
<div class="t-16" style="text-indent: 144px;">1.1  ตกลงร่วมดำเนินการโครงการโดยสนับสนุนงบประมาณ จำนวน ................บาท (.............................บาทถ้วน)  ซึ่งได้รวมภาษีมูลค่าเพิ่ม ตลอดจนค่าภาษีอากรอื่น ๆ แล้วให้กับ “ชื่อหน่วยร่วม” </div>
<div class="t-16"><b>สัญญาร่วมดำเนินการฉบับนี้ทำขึ้น  ณ  สำนักงานส่งเสริมวิสาหกิจขนาดกลางและขนาดย่อม</b>  </div>
<div class="t-22"><B>LxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxL</B></div>
<div class="t-16">สำนักงานส่งเสริมวิสาหกิจขนาดกลางและขนาดย่อม</div>
<div class="t-18"><B>LxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxL</B></div>
<div class="t-22"><b>KFJOIPDASJFIDJFSIODFJDSIO</b></div>

<p>dnmiosahfouisahbfuioasghfuiasbfoiusahfioasbngfioasnfgioashjntfioasngioasdgnioasd</p>
<div class="sign-single-right">
    <div class=" t-16 text-center">(ลงชื่อ).................................................</div>
    <div class=" t-16 text-center">(                         )</div>
    <div class=" t-16 text-center">สำนักงานส่งเสริมวิสาหกิจขนาดกลางและขนาดย่อม</div>
</div>
<div class="sign-single-right">
    <div class=" t-16 text-center">(ลงชื่อ).................................................</div>
    <div class=" t-16 text-center">(                         )</div>
    <div class=" t-16 text-center">สำนักงานส่งเสริมวิสาหกิจขนาดกลางและขนาดย่อม</div>
</div>
<div class="sign-single-right">
    <div class=" t-16 text-center">(ลงชื่อ).................................................</div>
    <div class=" t-16 text-center">(                         )</div>
    <div class=" t-16 text-center">สำนักงานส่งเสริมวิสาหกิจขนาดกลางและขนาดย่อม</div>
</div>
<div class="sign-double">
    <div class="w-50  text-center">
        <div class=" t-16  ">(ลงชื่อ).................................................</div>
        <div class=" t-16  ">(                         )</div>
        <div class=" t-16  ">สำนักงานส่งเสริมวิสาหกิจขนาดกลางและขนาดย่อม</div>
    </div>
    <div class="w-50 text-center ">
        <div class=" t-16  ">(ลงชื่อ).................................................</div>
        <div class=" t-16  ">(                         )</div>
        <div class=" t-16  "> สำนักงานส่งเสริมวิสาหกิจขนาดกลางและขนาดย่อม</div>
    </div>
</div>
<div class=" t-16 text-center-right-brake  " style="color: red;"> สำนักงานส่งเสริมวิสาหกิจขนาดกลางและขนาดย่อมสำนักงานส่งเสริมวิสาหกิจขนาดกลางและขนาดย่อม</div>
<div class=" t-16 text-center-right-brake tab1  " style="color: red;"> วันที่.......................</div>
<div class=" t-16 text-center-right-brake text-right  " style="color: green; "> เลขที่สัญญา 11020020291515151515151102 </div>

<ul>

    <li><a href="../SMEDashboard">SME Dashboard</a></li>
    <li><a href="../WorkflowDashboard">Workflow Dashboard</a></li>
    <li><a href="../EContractDashboard">E-Contract Dashboard</a></li>
</ul>

<a asp-page-handler="PdfReport" class="btn btn-primary">Export SME Report PDF</a>

<h2>Export Report สัญญา  by palmmy</h2>
<ul>

    <li><a href="../report/export?handler=WordContact_DGA_PDF_Preview">DGA PDF</a></li>

    <li><a href="../report/index.html">css html</a></li>

    <li><a href="../report/export?handler=WordContact_JOA_PDF">JOA 4.1.1.2.1.สัญญาร่วมดำเนินการ PDF</a></li>
    <li><a href="../report/export?handler=WordContact_JOA_PDF_Preview">4.1.1.2.1.สัญญาร่วมดำเนินการ PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_JOA_JPEG">4.1.1.2.1.สัญญาร่วมดำเนินการ Jpeg</a></li>
    <li><a href="../report/export?handler=WordContact_JOA_JPEG_Preview">4.1.1.2.1.สัญญาร่วมดำเนินการ Jpeg ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_JOA_Word">4.1.1.2.1.สัญญาร่วมดำเนินการ WORD Docx</a></li>
    <li><a href="../report/export?handler=WordContact_JOA_Word_Preview">4.1.1.2.1.สัญญาร่วมดำเนินการ WORD ใส่รหัส OSMEP@2025</a></li>  
     </br>

    <li><a href="../report/export?handler=WordContact_GA_PDF">GA 4.1.1.2.2.สัญญารับเงินอุดหนุน PDF</a></li>
    <li><a href="../report/export?handler=WordContact_GA_PDF_Preview">4.1.1.2.2.สัญญารับเงินอุดหนุน PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_GA_JPEG">4.1.1.2.2.สัญญารับเงินอุดหนุน JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_GA_JPEG_Preview">4.1.1.2.2.สัญญารับเงินอุดหนุน JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_GA_Word">4.1.1.2.2.สัญญารับเงินอุดหนุน WORD</a></li>
    <li><a href="../report/export?handler=WordContact_GA_Word_Preview">4.1.1.2.2.สัญญารับเงินอุดหนุน Word ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_MOU_PDF">MOU 4.1.1.2.3.บันทึกข้อตกลงความร่วมมือ PDF</a></li>
    <li><a href="../report/export?handler=WordContact_MOU_PDF_Preview">4.1.1.2.3.บันทึกข้อตกลงความร่วมมือ PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_MOU_JPEG">4.1.1.2.3.บันทึกข้อตกลงความร่วมมือ JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_MOU_JPEG_Preview">4.1.1.2.3.บันทึกข้อตกลงความร่วมมือ JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_MOU_Word">4.1.1.2.3.บันทึกข้อตกลงความร่วมมือ Word</a></li>
    <li><a href="../report/export?handler=WordContact_MOU_Word_Preview">4.1.1.2.3.บันทึกข้อตกลงความร่วมมือ Word ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_PDPA_PDF">PDPA 4.1.1.2.4.บันทึกข้อตกลงการประมวลผลข้อมูลส่วนบุคคล PDF</a></li>
    <li><a href="../report/export?handler=WordContact_PDPA_PDF_Preview">4.1.1.2.4.บันทึกข้อตกลงการประมวลผลข้อมูลส่วนบุคคล PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_PDPA_JPEG">4.1.1.2.4.บันทึกข้อตกลงการประมวลผลข้อมูลส่วนบุคคล JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_PDPA_JPEG_Preview">4.1.1.2.4.บันทึกข้อตกลงการประมวลผลข้อมูลส่วนบุคคล JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_PDPA_Word">4.1.1.2.4.บันทึกข้อตกลงการประมวลผลข้อมูลส่วนบุคคล Word</a></li>
    <li><a href="../report/export?handler=WordContact_PDPA_Word_Preview">4.1.1.2.4.บันทึกข้อตกลงการประมวลผลข้อมูลส่วนบุคคล Word ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_JDCA_PDF">JDCA 4.1.1.2.5.บันทึกข้อตกลงการเป็นผู้ควบคุมข้อมูลส่วนบุคคลร่วม PDF</a></li>
    <li><a href="../report/export?handler=WordContact_JDCA_PDF_Preview">4.1.1.2.5.บันทึกข้อตกลงการเป็นผู้ควบคุมข้อมูลส่วนบุคคลร่วม PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_JDCA_JPEG">4.1.1.2.5.บันทึกข้อตกลงการเป็นผู้ควบคุมข้อมูลส่วนบุคคลร่วม JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_JDCA_JPEG_Preview">4.1.1.2.5.บันทึกข้อตกลงการเป็นผู้ควบคุมข้อมูลส่วนบุคคลร่วม JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_JDCA_Word">4.1.1.2.5.บันทึกข้อตกลงการเป็นผู้ควบคุมข้อมูลส่วนบุคคลร่วม Word</a></li>
    <li><a href="../report/export?handler=WordContact_JDCA_Word_Preview">4.1.1.2.5.บันทึกข้อตกลงการเป็นผู้ควบคุมข้อมูลส่วนบุคคลร่วม Word ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_PDSA_PDF">PDSA 4.1.1.2.6.บันทึกข้อตกลงการแบ่งปันข้อมูลส่วนบุคคล PDF</a></li>
    <li><a href="../report/export?handler=WordContact_PDSA_PDF_Preview">4.1.1.2.6.บันทึกข้อตกลงการแบ่งปันข้อมูลส่วนบุคคล PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_PDSA_JPEG">4.1.1.2.6.บันทึกข้อตกลงการแบ่งปันข้อมูลส่วนบุคคล JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_PDSA_JPEG_Preview">4.1.1.2.6.บันทึกข้อตกลงการแบ่งปันข้อมูลส่วนบุคคล JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_PDSA_Word">4.1.1.2.6.บันทึกข้อตกลงการแบ่งปันข้อมูลส่วนบุคคล Word</a></li>
    <li><a href="../report/export?handler=WordContact_PDSA_Word_Preview">4.1.1.2.6.บันทึกข้อตกลงการแบ่งปันข้อมูลส่วนบุคคล Word ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_NDA_PDF">NDA 4.1.1.2.7.สัญญาการรักษาข้อมูลที่เป็นความลับ PDF</a></li>
    <li><a href="../report/export?handler=WordContact_NDA_PDF_Preview">4.1.1.2.7.สัญญาการรักษาข้อมูลที่เป็นความลับ PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_NDA_JPEG">4.1.1.2.7.สัญญาการรักษาข้อมูลที่เป็นความลับ JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_NDA_JPEG_Preview">4.1.1.2.7.สัญญาการรักษาข้อมูลที่เป็นความลับ JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_NDA_Word">4.1.1.2.7.สัญญาการรักษาข้อมูลที่เป็นความลับ Word</a></li>
    <li><a href="../report/export?handler=WordContact_NDA_Word_Preview">4.1.1.2.7.สัญญาการรักษาข้อมูลที่เป็นความลับ Word ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_SPA30560_PDF">4.1.1.2.8.สัญญาซื้อขาย ร.305-60 PDF</a></li>
    <li><a href="../report/export?handler=WordContact_SPA30560_PDF_Preview">4.1.1.2.8.สัญญาซื้อขาย ร.305-60 PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_SPA30560_JPEG">4.1.1.2.8.สัญญาซื้อขาย ร.305-60 JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_SPA30560_JPEG_Preview">4.1.1.2.8.สัญญาซื้อขาย ร.305-60 JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_SPA30560_Word">4.1.1.2.8.สัญญาซื้อขาย ร.305-60 Word</a></li>
    <li><a href="../report/export?handler=WordContact_SPA30560_Word_Preview">4.1.1.2.8.สัญญาซื้อขาย ร.305-60 Word ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_CPA_PDF">4.1.1.2.9.สัญญาซื้อขายคอมพิวเตอร์ PDF</a></li>
    <li><a href="../report/export?handler=WordContact_CPA_PDF_Preview">4.1.1.2.9.สัญญาซื้อขายคอมพิวเตอร์ PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_CPA_JPEG">4.1.1.2.9.สัญญาซื้อขายคอมพิวเตอร์ JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_CPA_JPEG_Preview">4.1.1.2.9.สัญญาซื้อขายคอมพิวเตอร์ JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_CPA_Word">4.1.1.2.9.สัญญาซื้อขายคอมพิวเตอร์ Word</a></li>
    <li><a href="../report/export?handler=WordContact_CPA_Word_Preview">4.1.1.2.9.สัญญาซื้อขายคอมพิวเตอร์ Word ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_SLA30860_PDF">4.1.1.2.10.สัญญาซื้อขายและอนุญาตให้ใช้สิทธิในโปรแกรมคอมพิวเตอร์ ร.308-60 PDF</a></li>
    <li><a href="../report/export?handler=WordContact_SLA30860_PDF_Preview">4.1.1.2.10.สัญญาซื้อขายและอนุญาตให้ใช้สิทธิในโปรแกรมคอมพิวเตอร์ ร.308-60 PDF  ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_SLA30860_JPEG">4.1.1.2.10.สัญญาซื้อขายและอนุญาตให้ใช้สิทธิในโปรแกรมคอมพิวเตอร์ ร.308-60 JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_SLA30860_JPEG_Preview">4.1.1.2.10.สัญญาซื้อขายและอนุญาตให้ใช้สิทธิในโปรแกรมคอมพิวเตอร์ ร.308-60 JPEG  ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_SLA30860_Word">4.1.1.2.10.สัญญาซื้อขายและอนุญาตให้ใช้สิทธิในโปรแกรมคอมพิวเตอร์ ร.308-60 Word</a></li>
    <li><a href="../report/export?handler=WordContact_SLA30860_Word_Preview">4.1.1.2.10.สัญญาซื้อขายและอนุญาตให้ใช้สิทธิในโปรแกรมคอมพิวเตอร์ ร.308-60 Word  ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_CLA30960_PDF">4.1.1.2.11.สัญญาเช่าคอมพิวเตอร์ ร.309-60 PDF</a></li>
    <li><a href="../report/export?handler=WordContact_CLA30960_PDF_Preview">4.1.1.2.11.สัญญาเช่าคอมพิวเตอร์ ร.309-60 PDF  ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_CLA30960_JPEG">4.1.1.2.11.สัญญาเช่าคอมพิวเตอร์ ร.309-60 JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_CLA30960_JPEG_Preview">4.1.1.2.11.สัญญาเช่าคอมพิวเตอร์ ร.309-60 PDF  ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_CLA30960_Word">4.1.1.2.11.สัญญาเช่าคอมพิวเตอร์ ร.309-60 Word</a></li>
    <li><a href="../report/export?handler=WordContact_CLA30960_Word_Preview">4.1.1.2.11.สัญญาเช่าคอมพิวเตอร์ ร.309-60 Word  ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_SMC31060_PDF">4.1.1.2.12.สัญญาจ้างบริการบำรุงรักษาและซ่อมแซมแก้ไขคอมพิวเตอร์ร.310-60 PDF</a></li>
    <li><a href="../report/export?handler=WordContact_SMC31060_PDF_Preview">4.1.1.2.12.สัญญาจ้างบริการบำรุงรักษาและซ่อมแซมแก้ไขคอมพิวเตอร์ร.310-60 PDF  ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_SMC31060_JPEG">4.1.1.2.12.สัญญาจ้างบริการบำรุงรักษาและซ่อมแซมแก้ไขคอมพิวเตอร์ร.310-60 JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_SMC31060_JPEG_Preview">4.1.1.2.12.สัญญาจ้างบริการบำรุงรักษาและซ่อมแซมแก้ไขคอมพิวเตอร์ร.310-60 JPEG  ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_SMC31060_Word">4.1.1.2.12.สัญญาจ้างบริการบำรุงรักษาและซ่อมแซมแก้ไขคอมพิวเตอร์ร.310-60 Word</a></li>
    <li><a href="../report/export?handler=WordContact_SMC31060_Word_Preview">4.1.1.2.12.สัญญาจ้างบริการบำรุงรักษาและซ่อมแซมแก้ไขคอมพิวเตอร์ร.310-60 Word  ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_PML31460_PDF">4.1.1.2.13.สัญญาเช่าเครื่องถ่ายเอกสาร ร.314-60 PDF</a></li>
    <li><a href="../report/export?handler=WordContact_PML31460_PDF_Preview">4.1.1.2.13.สัญญาเช่าเครื่องถ่ายเอกสาร ร.314-60 PDF  ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_PML31460_JPEG">4.1.1.2.13.สัญญาเช่าเครื่องถ่ายเอกสาร ร.314-60 JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_PML31460_JPEG_Preview">4.1.1.2.13.สัญญาเช่าเครื่องถ่ายเอกสาร ร.314-60 JPEG  ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_PML31460_Word">4.1.1.2.13.สัญญาเช่าเครื่องถ่ายเอกสาร ร.314-60 Word</a></li>
    <li><a href="../report/export?handler=WordContact_PML31460_Word_Preview">4.1.1.2.13.สัญญาเช่าเครื่องถ่ายเอกสาร ร.314-60 Word  ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_CTR31760_PDF">4.1.1.2.14.สัญญาจ้างที่ปรึกษา PDF</a></li>
    <li><a href="../report/export?handler=WordContact_CTR31760_PDF_Preview">4.1.1.2.14.สัญญาจ้างที่ปรึกษา PDF Password  ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_CTR31760_JPEG">4.1.1.2.14.สัญญาจ้างที่ปรึกษา JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_CTR31760_JPEG_Preview">4.1.1.2.14.สัญญาจ้างที่ปรึกษา JPEG Password  ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_CTR31760_Word">4.1.1.2.14.สัญญาจ้างที่ปรึกษา Word</a></li>
    <li><a href="../report/export?handler=WordContact_CTR31760_Word_Preview">4.1.1.2.14.สัญญาจ้างที่ปรึกษา Word Password  ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_CWA_PDF">4.1.1.2.15.สัญญาจ้างทำของ PDF</a></li>
    <li><a href="../report/export?handler=WordContact_CWA_PDF_Preview">4.1.1.2.15.สัญญาจ้างทำของ PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_CWA_JPEG">4.1.1.2.15.สัญญาจ้างทำของ JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_CWA_JPEG_Preview">4.1.1.2.15.สัญญาจ้างทำของ JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_CWA_Word">4.1.1.2.15.สัญญาจ้างทำของ Word</a></li>
    <li><a href="../report/export?handler=WordContact_CWA_Word_Preview">4.1.1.2.15.สัญญาจ้างทำของ Word ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_MIW_PDF">MIW แบบฟอร์มบันทึกข้อตกลงเป็นหนังสือ PDF</a></li>
    <li><a href="../report/export?handler=WordContact_MIW_PDF_Preview">MIW แบบฟอร์มบันทึกข้อตกลงเป็นหนังสือ PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_MIW_JPEG">MIW แบบฟอร์มบันทึกข้อตกลงเป็นหนังสือ JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_MIW_JPEG_Preview">MIW แบบฟอร์มบันทึกข้อตกลงเป็นหนังสือ JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_MIW_Word">MIW แบบฟอร์มบันทึกข้อตกลงเป็นหนังสือ Word</a></li>
    <li><a href="../report/export?handler=WordContact_MIW_Word_Preview">  แบบฟอร์มบันทึกข้อตกลงเป็นหนังสือ Word ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_AMJOA_PDF"> AMJOA  เอกสารแนบท้ายบันทึกข้อตกลงความร่วมมือและสัญญาร่วมดำเนินการ PDF</a></li>
    <li><a href="../report/export?handler=WordContact_AMJOA_PDF_Preview"> AMJOA  เอกสารแนบท้ายบันทึกข้อตกลงความร่วมมือและสัญญาร่วมดำเนินการ PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_AMJOA_JPEG"> AMJOA  เอกสารแนบท้ายบันทึกข้อตกลงความร่วมมือและสัญญาร่วมดำเนินการ JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_AMJOA_JPEG_Preview"> AMJOA เอกสารแนบท้ายบันทึกข้อตกลงความร่วมมือและสัญญาร่วมดำเนินการ JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_AMJOA_Word"> AMJOA  เอกสารแนบท้ายบันทึกข้อตกลงความร่วมมือและสัญญาร่วมดำเนินการ Word</a></li>
    <li><a href="../report/export?handler=WordContact_AMJOA_Word_Preview"> AMJOA  เอกสารแนบท้ายบันทึกข้อตกลงความร่วมมือและสัญญาร่วมดำเนินการ Word ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_EC_PDF">EC 4.1.3.3. สัญญาจ้างลูกจ้าง PDF</a></li>
    <li><a href="../report/export?handler=WordContact_EC_PDF_Preview">4.1.3.3. สัญญาจ้างลูกจ้าง PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_EC_JPEG">4.1.3.3. สัญญาจ้างลูกจ้าง JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_EC_JPEG_Preview">4.1.3.3. สัญญาจ้างลูกจ้าง JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_EC_Word">4.1.3.3. สัญญาจ้างลูกจ้าง Word</a></li>
    <li><a href="../report/export?handler=WordContact_EC_Word_Preview">4.1.3.3. สัญญาจ้างลูกจ้าง Word ใส่รหัส OSMEP@2025</a></li>
    </br>

    <li><a href="../report/export?handler=WordContact_MOA_PDF">MOA บันทึกข้อตกลงความเข้าใจ PDF</a></li>
    <li><a href="../report/export?handler=WordContact_MOA_PDF_Preview">MOA บันทึกข้อตกลงความเข้าใจ PDF ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_MOA_JPEG">MOA บันทึกข้อตกลงความเข้าใจ JPEG</a></li>
    <li><a href="../report/export?handler=WordContact_MOA_JPEG_Preview">MOA บันทึกข้อตกลงความเข้าใจ JPEG ใส่รหัส OSMEP@2025</a></li>
    <li><a href="../report/export?handler=WordContact_MOA_Word">MOA บันทึกข้อตกลงความเข้าใจ Word</a></li>
    <li><a href="../report/export?handler=WordContact_MOA_Word_Preview">MOA บันทึกข้อตกลงความเข้าใจ Word ใส่รหัส OSMEP@2025</a></li>
    </br>


    <li><a href="../report/export?handler=WordContactBorrowMoney">สสว.สัญญาเงินกู้ยืม โครงการพลิกฟื้นวิสาห EContract_WF_Type ไม่มี </a></li>
    <li><a href="../report/export?handler=WordContactAllowance">สสว.สัญญารับเงินอุดหนุน EContract_WF_Type ไม่มี</a></li>

    <li><a href="../report/export?handler=WordContact_TestLogo">Test Header Logo</a></li>
    <li><a href="../report/export?handler=WordtoPDF">WordToPdf</a></li>
    <li><a href="../report/export?handler=WordtoPDF">Html Converter</a></li>


</ul>