@page
@model BatchAndReport.Pages.Report.ExportModel
@*  <link rel="stylesheet" href="~/css/contract.css" /> *@
 <h2>Export Report</h2>
<ul>
    <li><a asp-page-handler="Pdf" asp-route="" href="../report/export?handler=Pdf">Export PDF</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=Word">Export Word</a></li>
    <li><a asp-page-handler="Excel" asp-route="" href="../report/export?handler=Excel">Export Excel</a></li>
    <li><a asp-page-handler="" asp-route="" href="../SMEDashboard">SME Dashboard</a></li>
    <li><a asp-page-handler="" asp-route="" href="../WorkflowDashboard">Workflow Dashboard</a></li>
</ul>

<a asp-page-handler="PdfReport" class="btn btn-primary">Export SME Report PDF</a>


<h2>Export Report สัญญา  by palmmy</h2>
<ul>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_JOA">4.1.1.2.1.สัญญาร่วมดำเนินการ </a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_JOA_PDF">4.1.1.2.1.สัญญาร่วมดำเนินการ PDF</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_GA">4.1.1.2.2.สัญญารับเงินอุดหนุน</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_GA_PDF">4.1.1.2.2.สัญญารับเงินอุดหนุน PDF</a></li>

    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_MOU">4.1.1.2.3.บันทึกข้อตกลงความร่วมมือ</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_MOU_PDF">4.1.1.2.3.บันทึกข้อตกลงความร่วมมือ PDF</a></li>
    

    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_PDPA">4.1.1.2.4.บันทึกข้อตกลงการประมวลผลข้อมูลส่วนบุคคล</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_PDPA_PDF">4.1.1.2.4.บันทึกข้อตกลงการประมวลผลข้อมูลส่วนบุคคล PDF</a></li>
    
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_JDCA">4.1.1.2.5.บันทึกข้อตกลงการเป็นผู้ควบคุมข้อมูลส่วนบุคคลร่วม </a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_JDCA_PDF">4.1.1.2.5.บันทึกข้อตกลงการเป็นผู้ควบคุมข้อมูลส่วนบุคคลร่วม PDF</a></li>
    
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_PDSA">4.1.1.2.6.บันทึกข้อตกลงการแบ่งปันข้อมูลส่วนบุคคล</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_NDA">4.1.1.2.7.สัญญาการรักษาข้อมูลที่เป็นความลับ</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_SPA30560">4.1.1.2.8.สัญญาซื้อขาย ร.305-60</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_CPA">4.1.1.2.9.สัญญาซื้อขายคอมพิวเตอร์</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_SLA30860">4.1.1.2.10.สัญญาซื้อขายและอนุญาตให้ใช้สิทธิในโปรแกรมคอมพิวเตอร์ ร.308-60</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_CLA30960">4.1.1.2.11.สัญญาเช่าคอมพิวเตอร์ ร.309-60</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_SMC31060">4.1.1.2.12.สัญญาจ้างบริการบำรุงรักษาและซ่อมแซมแก้ไขคอมพิวเตอร์ร.310-60</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_PML31460">4.1.1.2.13.สัญญาเช่าเครื่องถ่ายเอกสาร ร.314-60</a></li>

    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_CTR31760">4.1.1.2.14.สัญญาจ้างที่ปรึกษา</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_CWA">4.1.1.2.15.สัญญาจ้างทำของ</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_EC">4.1.3.3. สัญญาจ้างลูกจ้าง</a></li>


    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContactBorrowMoney">สสว.สัญญาเงินกู้ยืม โครงการพลิกฟื้นวิสาห EContract_WF_Type ไม่มี </a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContactAllowance">สสว.สัญญารับเงินอุดหนุน EContract_WF_Type ไม่มี</a></li>


    

    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContact_TestLogo">Test Header Logo</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordtoPDF">WordToPdf</a></li>

    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordtoPDF">Html Converter</a></li>
</ul>