@page
@model BatchAndReport.Pages.Report.ExportModel

<h2>Export Report</h2>
<ul>
    <li><a asp-page-handler="Pdf" asp-route="" href="../report/export?handler=Pdf">Export PDF</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=Word">Export Word</a></li>
    <li><a asp-page-handler="Excel" asp-route="" href="../report/export?handler=Excel">Export Excel</a></li>
    <li><a asp-page-handler="" asp-route="" href="../SMEDashboard">SME Dashboard</a></li>
    <li><a asp-page-handler="" asp-route="" href="../WorkflowDashboard">Workflow Dashboard</a></li>
</ul>

<a asp-page-handler="PdfReport" class="btn btn-primary">Export SME Report PDF</a>


<h2>Export Report สัญญา  by palmmy</h2>
<ul>

    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContactAllowance">สสว.สัญญารับเงินอุดหนุน</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContactBorrowMoney">สสว.สัญญาเงินกู้ยืม โครงการพลิกฟื้นวิสาห</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContactHireEmployee">4.1.3.3. สัญญาจ้างลูกจ้าง</a></li>
    <li><a asp-page-handler="Word" asp-route="" href="../report/export?handler=WordContactToDoThing">4.1.1.2.15.สัญญาจ้างทำของ</a></li>
    
</ul>