@page
@model WorkflowProcessDataModel
@{
    Layout = "_Layout1";
    var detail = Model.Detail;
    int supportCount = detail.SupportProcesses.Count;
}

<style>
    /* ตั้งฐานฟอนต์ทั้งบล็อก */
    .wf {
        font-family: 'TH SarabunNew', 'TH SarabunPSK', Arial, sans-serif;
        font-size: 16px; /* เปลี่ยนค่าตรงนี้ทีเดียวทั้งหน้า */
        line-height: 1.35;
    }
        /* ให้หัวข้อไม่ใหญ่กว่าตาราง */
        .wf h1, .wf h2, .wf h3, .wf h4, .wf h5, .wf h6 {
            font-size: inherit;
            line-height: inherit;
            margin: 0 0 .25rem 0;
        }
        /* ตารางและเซลล์สืบทอดขนาดเดียวกัน */
        .wf .table {
            font-size: inherit;
        }

            .wf .table th,
            .wf .table td {
                font-size: inherit;
            }
        /* สีหัวตาราง */
        .wf .header-green {
            background-color: #00c896;
            color: #fff;
        }

        .wf .header-blue {
            background-color: #4CB1F0;
        }
</style>

<div class="wf">
    <!-- ตารางกระบวนการหลัก -->
    <div class="table-responsive mb-4">
        <table class="table table-bordered text-center align-middle" style="table-layout: fixed; width: 100%;">
            <thead class="header-green">
                <tr>
                    <td rowspan="2" class="align-middle bg-white text-start text-dark" style="width: 250px; font-size: inherit;">
                        กลุ่มกระบวนการหลัก<br>(Core Process)
                    </td>
                    @foreach (var core in detail.CoreProcesses)
                    {
                        <td style="font-size: inherit;">@core.ProcessGroupCode</td>
                    }
                </tr>
                <tr>
                    @foreach (var core in detail.CoreProcesses)
                    {
                        <th style="font-size: inherit;">@core.ProcessGroupName</th>
                    }
                </tr>
            </thead>
        </table>
    </div>

    <!-- ตารางกลุ่มกระบวนการสนับสนุน -->
    <div class="table-responsive">
        <table class="table table-bordered text-start align-middle" style="table-layout: fixed; width: 100%;">
            <tbody>
                @for (int i = 0; i < supportCount; i++)
                {
                    var item = detail.SupportProcesses[i];
                    <tr>
                        @if (i == 0)
                        {
                            <td rowspan="@supportCount" class="align-top fw-bold" style="width: 250px; font-size: inherit;">
                                กลุ่มกระบวนการสนับสนุน<br />(Supporting Process)
                            </td>
                        }
                        <td class="text-center fw-bold header-blue" style="width: 80px; font-size: inherit;">S@(i + 1)</td>
                        <td class="header-blue" style="font-size: inherit;">@item.ProcessGroupName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
